/* 
Disclaimer: Much of this code was adapted from that provided in the FIT3179 
week 9 studio, available at:
https://github.com/FIT3179/Vega-Lite/tree/main/5_multiple_charts_html 
*/

:root {
  --pink: #ff5a5f;
  --green: #00a699;
  --orange: #fc642d;
  --dark: #484848;
  --light: #767676;
}

body * {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 900;
}

body {
  background-color: lightgray;
}

.page {
  width: 850px;
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

.vis-container {
  width: 100%;
}

.description h2,
h1 {
  margin-top: 0px;
}

.description-right {
  padding-left: 20px;
}

.description-left {
  padding-right: 20px;
}

.pure-g {
  margin-bottom: 40px;
}

.small-font {
  font-size: 14px;
}

.pink-text {
  color: var(--pink);
}

.orange-text {
  color: var(--orange);
}

.green-text {
  color: var(--green);
}
